<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p> This site was created by Trent Davis. It uses the data from MapBox and WeatherStack to get weather data at certain any location in real time</p>
      <img class="portrait" src='img/ProfilePic.jpg'>
    </div>

    {{>footer}}
  </body>
</html>
